<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Server Image Viewer</title>
        <script src="static/jquery-2.1.0.min.js" type="text/javascript"></script>
        <script src="static/astropyp.js" type="text/javascript"></script>
        <style>
        #parameter-div{
            
        }
        
        #viewer-div{
            border: 1px solid #000000;
            margin: 0 auto;
            width: 70%;
            overflow: scroll;
        }
        .smallButton{
            background-position:center;
            background-repeat:no-repeat;
            background-size:80%;
            cursor:pointer;
            border:none;
            width:23px;
            height:23px;
            border-radius: 7px 7px 7px 7px;
            vertical-align:bottom;
            float:left;
            margin:2px 1px 2px 1px;
            background-color:#1111FF;
        }
        #first-btn{
            
        }
        #last-btn{
            
        }
        #next-btn{
            
        }
        #previous-btn{
            
        }
        </style>
    </head>
    <body>
        <div id='tabs'>
            <ul id='tab-links'>
                <li><a href='#settings-tab'>Settings</a></li>
                <li><a href='#viewer-tab'>Image Viewer</a></li>
                <li><a href='#thumbnails-tab'>Thumbnails</a></li>
            </ul>
            <div id='settings-tab'>
                <div id='param-list-div'></div>
                <button id='submit-settings'>Load files</button>
            </div>
            <div id='viewer-tab'>
                <center>
                    <div id='filename-div'></div>
                </center>
                <div id='viewer-div'>
                    <center id='image-parent'>
                    </center>
                </div>
                <center>
                    <div id='btn-div'>
                        <input id='first-btn' class='smallButton'></input>
                        <input id='previous-btn' class='smallButton'></input>
                        <input id='next-btn' class='smallButton'></input>
                        <input id='last-btn' class='smallButton'></input>
                    </div>
                </center>
            </div>
            <div id='thumbnails-tab'>
                <p>Not yet supported</p>
            </div>
        </div>
        <div id = 'file-dialog'></div>
        <script>
        var websocket;
        var viewer_height = 70; // % of screen height
        var viewer_width = 70; // % of screen height
        var param_list;
        var img_files = {};
        var img_keys = [];
        var current_img_idx = 0;
        
        function rxMsg(msg){
            // Actions to be taken based on message type
            console.log('msg:',msg);
            if(msg.id == 'img files'){
                img_files = msg.files;
                img_keys = Object.keys(img_files);
                img_keys.sort();
                loadImage(0);
            }else if(msg.id = 'img location'){
                showImage(msg.imgId, msg.img_src);
            }
        };
        
        function loadImage(index){
            console.log(index);
            current_img_idx = index;
            websocket.sendTask({
                module: 'web_utils',
                task: 'copy_img2temp',
                parameters: {
                    'filename': img_files[img_keys[index]],
                }
            });
        };
        
        function showImage(imgId, img_src){
            var $img = $('<img src="'+img_src+'" alt='+imgId+'>');
            $('#image-parent').html('');
            $('#image-parent').append($img);
            $('#filename-div').html(imgId);
        };
        
        function pypeline_onload(options){
            console.log('Dependencies loaded!');
            file_dialog = Astropyp.Utils.initFileDialog({
                element:'file-dialog',
                websocket:websocket
            });
            
            var params = Astropyp.Settings.getImgViewerSettings({
                file_dialog: file_dialog
            });
            
            $("#tabs").tabs();
            param_list = Astropyp.Utils.initParamList(
                {
                    type:'div',
                    params: params
                },
                options = {
                    $parent: $('#param-list-div'),
                    default: {
                        image_ext: 'jpg, png, bmp, jpeg, svg, pdf'
                    }
                }
            );
        };
        
        Dependencies = {
            jQuery_ui:{
                url:"static/jquery-ui-1.11.0/jquery-ui.min.js",
                isloaded:'$.ui',
                wait:true
            },
            settings: {
                url: 'static/settings.js',
                isloaded: 'Astropyp.Settings',
                wait:true
            },
            jQuery_ui_css:{
                url:'static/jquery-ui-themes-1.11.0/themes/redmond/jquery-ui.min.css',
                wait:false
            },
            astropyp_css:{
                url:'/static/astropyp.css',
                wait:false
            },
        }
        
        window.onload = function(){
            websocket = Astropyp.Core.jobsocketInit({
                receiveAction:rxMsg,
            });
            Astropyp.Utils.loadDependencies(
                Dependencies, 
                pypeline_onload,
                {}
            );
            
            $('#submit-settings').click(function(){
                var params=param_list.getParams(param_list.params);
                var checks = {};
                if(params.use_starts){
                    checks.starts_with = params.starts_with;
                };
                if(params.use_ends){
                    checks.ends_with = params.ends_with;
                };
                if(params.use_contains){
                    checks.contins = params.contains;
                };
                checks.extensions = params.image_ext.split(',');
                for(var i=0; i<checks.extensions.length; i++){
                    checks.extensions[i] = checks.extensions[i].trim();
                }
                websocket.sendTask({
                    module: 'web_utils',
                    task: 'load_img_dir',
                    parameters: {
                        directory: params.directory,
                        recursive: params.recursive,
                        checks: checks
                    }
                })
            });
            $('#viewer-div').height(Math.floor($(window).height()*viewer_height/100));
            $('#first-btn').click(function(){
                loadImage(0);
            });
            $('#previous-btn').click(function(){
                if(current_img_idx>0){
                    loadImage(current_img_idx-1);
                }else{
                    loadImage(img_keys.length-1);
                }
                
            });
            $('#next-btn').click(function(){
                if(current_img_idx < img_keys.length-1){
                    loadImage(current_img_idx+1);
                }else{
                    loadImage(0);
                }
                
            });
            $('#last-btn').click(function(){
                loadImage(img_keys.length-1);
            });
        };
        
        window.onresize = function(){
            $('#viewer-div').height(Math.floor($(window).height()*viewer_height/100));
        }
        </script>
    </body>
</html>