<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Toyz Workspace</title>
        <script src="/third_party/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="/toyz_core.js" type="text/javascript"></script>
        <script src="/static/web/static/viewer.js" type="text/javascript"></script>
        <script src="/static/web/static/workspace.js" type="text/javascript"></script>
    </head>
    <body>
        <div id='ws-div'></div>
        <script>
        var $workspace_div = $('#ws-div');
        var workspace;
        var $rclick = $("<div id='instructions' ><center><font size='20' color='#FFFF66'>"
                        +"Right-click below to begin</font></center></div>");
        
        window.onload = function(){
            $workspace_div.height(window.innerHeight);
            $workspace_div.width(window.innerWidth);
            $(window).resize(function(){
                $workspace_div.height(window.innerHeight);
                $workspace_div.width(window.innerWidth);
            })
            workspace = new Toyz.Workspace.Workspace({
                $parent: $workspace_div
            });
            
            // Clear instructions to right-click after the user has done so
            workspace.$div.append($rclick);
            workspace.$div.on('contextmenu', function(){
                $rclick.remove();
            });
            console.log('workspace-div SIZE:', $workspace_div.height(), $workspace_div.width());
        }
        </script>
    </body>
</html>