html, body
{
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

/******************** GUI styles ********************/
.paramDiv-default{
    display:block;
}

.lbl-default{
    margin-right:5px;
}

.lbl-hide{
    display:none;
}

.collapsible{
    cursor:pointer;
}

.custom-menu {
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid black;
    padding: 2px;
}

.div-title {
    font-size: 200%;
}

.ws-user-div {
    display: inline;
    padding: 2px;
}

ul {
    list-style:none;
    padding-left:0;
}

/******************** file dialog styles ********************/
.file-dialog-path-div {
    margin-bottom: 5px;
}

.file-dialog-div-lbl {
    font-size: 125%;
    font-weight: bold;
    display:inline-block;
}

.file-dialog-div {
    display:inline-block;
    height: 80%;
    width: 32%;
    overflow: hidden;
    float: left;
}

.file-dialog-select-div {
    display:inline-block;
    height:100%;
    width:100%;
    overflow:auto;
    float:left;
}

.file-dialog-select {
    height: 90%;
    width: 100%;
    overflow:auto;
}

/******************** workspace styles ********************/
.ws-tile {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
}

.ws-inner-div {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    position: absolute;
}

.workspace-div {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #999999;
}

/******************** viewer styles ********************/
.viewer-main-div {
    overflow: scroll;
}

.viewer-div {
    background-color: #EEEEEE;
    position: relative;
}

.viewer-tile-img {
    position: absolute;
}

/***** viewer button types *****/
.viewer-ctrl-button{
    background-position:center;
    background-repeat:no-repeat;
    background-size:80%;
    cursor:pointer;
    border:none;
    width:23px;
    height:23px;
    border-radius: 3px 3px 3px 3px;
    vertical-align:bottom;
    float:left;
    margin:2px 1px 2px 1px;
}

.viewer-ctrl-img-btn {
    background-color:#82FF82
}
.viewer-ctrl-img-btn:active{
    background-color:#B2B26B;
}

.viewer-ctrl-viewer-btn {
    background-color:#C299EB;
}
.viewer-ctrl-viewer-btn:active {
    background-color:#6600CC;
}.viewer-ctrl-zoom-btn {
    background-color:#99CCFF;
}
.viewer-ctrl-zoom-btn:active {
    background-color:#7AA3CC;
}

.viewer-ctrl-tools-btn {
    background-color:#DEDEDE;
}
.viewer-ctrl-tools-btn:active {
    background-color:#AAAAAA;
}

.viewer-ctrl-info-btn {
}
.viewer-ctrl-info-btn:active {
    
}
/***** viewer control buttons *****/
.viewer-ctrl-input{
    width:70px;
    font-size:18px;
    vertical-align:bottom;
    text-align:center;
    float:left;
    margin:4px 1px 2px 1px;
}

.viewer-ctrl-select{
    width:70px;
    font-size:18px;
    vertical-align:bottom;
    text-align:center;
    float:left;
    margin:4px 1px 2px 1px;
}

/***** viewer colormap dialog *****/
.viewer-colormap-colorpad {
    width: 400;
    height: 200;
}
.viewer-colormap-ctrl {
    /*display: inline-block;*/
    clear: both;
    padding-top: 10px;
    margin-bottom: 10px;
}
.viewer-colormap-colorbar_div {
    clear: both;
}

/***** other viewer controls *****/
.viewer-ctrl-info-coord-div {
    display:inline-block;
    width:120px;
}

.viewer-hist-div {
    width: 50px;
    height: 50px;
    padding: 2px;
    position: absolute;
}

/******************** other styles ********************/
.logger-textarea {
    width: 100%;
    height: 100%;
    overflow:auto;
    font-size:12px;
    resize:none;
}